<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Banking App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/accounts}">Accounts</a></li>
            <li><a th:href="@{/accounts/add}">Add Account</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <div th:replace="${content}"></div>
</div>

<footer>
    <p>Banking App &copy; 2024</p>
</footer>
</body>
</html>
